@import "destyle";
//CONVERT PX TO REM
@function rem($pixel, $rem: 16) {
  @return ($pixel / $rem) * 1rem;
}

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
  --clr-primary-VeryDarkMagenta: hsl(300, 43%, 22%);
  --clr-primary-SoftPink: hsl(333, 80%, 67%);
  --clr-primary-VeryDarkcyan: hsl(179, 100%, 13%);

  --clr-neutral-DarkGrayishMagenta: hsl(303, 10%, 53%);
  --clr-neutral-LightGrayishMagenta: hsl(300, 24%, 96%);
  --clr-neutral-White: hsl(0, 0%, 100%);

  --ff-main: "Spartan", sans-serif;

  --fsz-body: 15px;
}

body {
  display: grid;
  place-items: center;
  font-size: var(--fsz-body);
  font-family: var(--ff-main);
  font-weight: 500;
  margin: rem(88) rem(24);
  background: url("images/bg-pattern-top-mobile.svg") no-repeat, url("images/bg-pattern-bottom-mobile.svg") no-repeat;
}

.social-proof {
  > .container {
    width: min(100%, 69.375rem);
    > .content {
      text-align: center;
      margin-bottom: rem(32);
      > .heading {
        font-size: rem(30);
        font-weight: 700;
        line-height: 1.1;
        color: var(--clr-primary-VeryDarkMagenta);
        margin-bottom: rem(24);
      }
      > .body {
        font-size: rem(14);
        color: var(--clr-neutral-DarkGrayishMagenta);
        line-height: 1.8;
      }
    }
    > .rating {
      display: flex;
      flex-direction: column;
      row-gap: rem(16);
      margin-bottom: rem(48);
      > .item {
        background-color: var(--clr-neutral-LightGrayishMagenta);
        border-radius: rem(8);
        padding: rem(18) 0;
        > .container {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: rem(16);
          > .stars {
            display: flex;
            column-gap: rem(8);
          }
          > .details {
            font-size: rem(13);

            font-weight: 700;
            color: var(--clr-primary-VeryDarkMagenta);
          }
        }
      }
    }
    > .testimonials {
      > .container {
        display: flex;
        flex-direction: column;
        row-gap: rem(16);
        > .card {
          background-color: var(--clr-primary-VeryDarkMagenta);
          border-radius: rem(8);
          padding: rem(40) rem(32);
          > .header {
            display: flex;
            column-gap: rem(24);
            margin-bottom: rem(30);
            > .avatar {
              border-radius: 50%;
              width: rem(40);
            }
            > .details {
              > .name {
                color: var(--clr-neutral-White);
                font-size: rem(14);
                font-weight: 700;
                margin-bottom: rem(8);
              }
              > .stats {
                color: var(--clr-primary-SoftPink);
                font-size: rem(15);
                font-weight: 400;
              }
            }
          }
          > .quote {
            font-size: rem(13);
            color: var(--clr-neutral-LightGrayishMagenta);
            font-weight: 400;
            line-height: 1.7;
          }
        }
      }
    }
  }
}

@media (min-width: rem(1024)) {
  body {
    height: 100vh;
    background: url("images/bg-pattern-top-desktop.svg") no-repeat,
      url("images/bg-pattern-bottom-desktop.svg") no-repeat;
  }

  .social-proof {
    display: grid;
    place-items: center;
    > .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      > .content {
        flex: 1 0 50%;
        text-align: left;
        max-width: rem(425);

        > .heading {
          font-size: rem(48);
          letter-spacing: rem(-2);
          line-height: 1;
          margin-bottom: rem(14);
        }
      }
      > .rating {
        flex: 1 0 50%;
        max-width: rem(541);
        margin-top: rem(20);

        > .item {
          display: flex;

          align-items: center;
          max-width: rem(445);

          > .container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            column-gap: rem(36);
            margin-left: rem(32);
          }
          &-p2 {
            margin-left: rem(48);
          }
          &-p3 {
            margin-left: rem(96);
          }
        }
      }
      > .testimonials {
        margin-top: rem(40);
        flex: 1 0 100%;
        > .container {
          display: flex;
          flex-direction: row;

          column-gap: rem(30);
          > .card {
            max-width: rem(350);
            min-height: rem(232);
            &-p2 {
              margin-top: rem(16);
            }
            &-p3 {
              margin-top: rem(32);
            }
          }
        }
      }
    }
  }
} /*END MEDIA*/
